Repository TechSquidTV/Hermes: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%

# Ignore external UI component libraries
ignore:
  - "packages/hermes-app/src/components/ui/**"

# Monorepo configuration
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  frontend:
    paths:
      - packages/hermes-app/src/
    carryforward: true
  backend:
    paths:
      - packages/hermes-api/app/
    carryforward: true

# Component configuration for monorepo
component_management:
  individual_components:
    - component_id: hermes-app
      name: Frontend (hermes-app)
      paths:
        - packages/hermes-app/**
      flag_regexes:
        - frontend
    - component_id: hermes-api
      name: Backend (hermes-api)
      paths:
        - packages/hermes-api/**
      flag_regexes:
        - backend

comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false
  show_carryforward_flags: true

test: update useStorageCalculations tests to reflect new storageInfo structure
  packages/hermes-app/src/hooks/__tests__/useStorage.test.ts
Due: frontend, Frontend (hermes-app)

feat: enhance environment variable handling for API keys and CORS origins
  .env.example
  packages/hermes-api/app/core/config.py
Due: backend, Backend (hermes-api)

chore: clean readme
  README.md
Due: none

refactor: image optimizations
  docker-compose.example.yml
  docker-compose.yml
  packages/hermes-api/Dockerfile
  packages/hermes-api/entrypoint.sh
Due: Backend (hermes-api)

docs: update deployment and reverse proxy guides for clarity and accuracy
  docs/DEPLOYMENT.md
  docs/REVERSE_PROXY_GUIDE.md
  packages/hermes-api/README.md
Due: Backend (hermes-api)

feat: fix dynamic API url
  docker-compose.example.yml
  docker-compose.yml
  packages/hermes-app/Dockerfile
  packages/hermes-app/docker-entrypoint.sh
  packages/hermes-app/index.html
  packages/hermes-app/nginx.conf
  packages/hermes-app/public/config.js
  packages/hermes-app/src/services/api/client.ts
  packages/hermes-app/src/types/window.d.ts
Due: frontend, Frontend (hermes-app)

chore: update ESLint configuration to ignore public directory for static assets
  packages/hermes-app/eslint.config.js
Due: Frontend (hermes-app)

chore: enhance Docker configuration for user UID/GID customization
  README.md
  docker-compose.yml
  packages/hermes-api/Dockerfile
  packages/hermes-api/README.md
Due: Backend (hermes-api)

chore(release): bump version to 0.2.1
  packages/hermes-api/uv.lock
Due: Backend (hermes-api)

ci: update deps script
  package.json
Due: none

ci: package updates
  packages/hermes-api/uv.lock
  packages/hermes-app/package.json
  pnpm-lock.yaml
Due: Frontend (hermes-app), Backend (hermes-api)

chore: refactor pre-check scripts in package.json for improved clarity and organization
  package.json
Due: none

chore: update dependencies in hermes-api
  package.json
  packages/hermes-api/pyproject.toml
  packages/hermes-api/uv.lock
Due: Backend (hermes-api)

chore: update issue templates for improved clarity and consistency
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/release.yml
Due: none

feat: add Docker Compose configuration for testing with separate app and API hosts
  docker-compose.test-separate-hosts.yml
Due: none

refactor: consolidate reverse proxy documentation and update deployment guides
  README.md
  docs/DEPLOYMENT.md
  docs/PROXY_DEPLOYMENT.md
  docs/REVERSE_PROXY_GUIDE.md
Due: none

refactor: implement centralized API base URL configuration
  docs/PROXY_DEPLOYMENT.md
  packages/hermes-app/src/components/settings/GeneralSettings.tsx
  packages/hermes-app/src/hooks/useDownloadProgressSSE.ts
  packages/hermes-app/src/hooks/useQueueUpdatesSSE.ts
  packages/hermes-app/src/hooks/useStatsSSE.ts
  packages/hermes-app/src/lib/config.ts
  packages/hermes-app/src/services/api/client.ts
  packages/hermes-app/src/services/auth.ts
Due: frontend, Frontend (hermes-app)

chore: sqlite only supported
  .env.example
  docs/CONFIGURATION.md
  docs/DEPLOYMENT.md
  packages/hermes-api/.env.example
  packages/hermes-api/README.md
  packages/hermes-app/.env.example
Due: Frontend (hermes-app), Backend (hermes-api)

docs: update README, CONTRIBUTING, and RELEASE_PROCESS for branch strategy and release workflow
  .github/workflows/develop.yml
  .github/workflows/release.yml
  README.md
  docs/CONTRIBUTING.md
  docs/RELEASE_PROCESS.md
Due: none

feat(api): add is_admin field to User model
  packages/hermes-api/alembic/versions/c4584c156bdd_add_user_is_admin_field.py
  packages/hermes-api/app/db/models.py
  packages/hermes-api/app/db/repositories.py
Due: backend, Backend (hermes-api)

feat(api): implement signup restrictions and first-user-admin
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/api/v1/endpoints/config.py
  packages/hermes-api/app/core/config.py
  packages/hermes-api/app/main.py
Due: backend, Backend (hermes-api)

feat(api): add admin user management endpoints
  packages/hermes-api/app/api/dependencies.py
  packages/hermes-api/app/api/v1/endpoints/users.py
  packages/hermes-api/app/api/v1/router.py
Due: backend, Backend (hermes-api)

test(api): add comprehensive tests for signup and admin features
  packages/hermes-api/tests/conftest.py
  packages/hermes-api/tests/test_api/test_admin_users.py
  packages/hermes-api/tests/test_api/test_initial_admin.py
  packages/hermes-api/tests/test_api/test_signup_restrictions.py
Due: Backend (hermes-api)

feat(app): implement admin user management UI
  packages/hermes-app/src/components/admin/AdminUsersPage.tsx
  packages/hermes-app/src/components/layout/AppLayout.tsx
  packages/hermes-app/src/components/layout/AppSidebar.tsx
  packages/hermes-app/src/routeTree.gen.ts
  packages/hermes-app/src/routes/admin.users.tsx
  packages/hermes-app/src/routes/auth.signup.tsx
  packages/hermes-app/src/services/admin.ts
  packages/hermes-app/src/services/config.ts
  packages/hermes-app/src/types/auth.ts
Due: frontend, Frontend (hermes-app)

docs: add self-hosting security documentation
  .env.example
  README.md
Due: none

fix(api): standardize API responses to use camelCase serialization
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/api/v1/endpoints/users.py
Due: backend, Backend (hermes-api)

fix(api): add missing is_active field to UserResponse model
  packages/hermes-api/app/api/v1/endpoints/auth.py
Due: backend, Backend (hermes-api)

fix(auth): add email uniqueness validation to signup endpoint
  packages/hermes-api/app/api/v1/endpoints/auth.py
Due: backend, Backend (hermes-api)

test: update admin user tests for camelCase API responses
  packages/hermes-api/tests/test_api/test_admin_users.py
Due: Backend (hermes-api)

test: add comprehensive signup validation tests
  packages/hermes-api/tests/test_api/test_auth.py
Due: Backend (hermes-api)

refactor(api): use Pydantic alias_generator for automatic camelCase conversion
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/api/v1/endpoints/config.py
  packages/hermes-api/app/api/v1/endpoints/users.py
  packages/hermes-api/app/models/base.py
  packages/hermes-api/app/models/pydantic/config.py
  packages/hermes-api/docs/API_CONVENTIONS.md
  packages/hermes-api/tests/test_api/test_auth.py
  packages/hermes-api/tests/test_api/test_signup_restrictions.py
Due: backend, Backend (hermes-api)

refactor(api): apply CamelCaseModel to all API models
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/models/pydantic/cleanup.py
  packages/hermes-api/app/models/pydantic/download.py
  packages/hermes-api/app/models/pydantic/file.py
  packages/hermes-api/app/models/pydantic/format.py
  packages/hermes-api/app/models/pydantic/history.py
  packages/hermes-api/app/models/pydantic/response.py
  packages/hermes-api/app/models/pydantic/stats.py
  packages/hermes-api/app/models/pydantic/storage.py
  packages/hermes-api/app/models/sse_token.py
  packages/hermes-api/tests/test_api/test_openapi_schema.py
Due: backend, Backend (hermes-api)

refactor(auth): improve signup error handling and database session management
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/main.py
  packages/hermes-api/tests/test_api/test_auth.py
Due: backend, Backend (hermes-api)

docs: update CONFIGURATION.md to include user enumeration protection
  docs/CONFIGURATION.md
Due: none

feat(admin): enhance AdminUsersPage with confirmation dialogs for user actions
  packages/hermes-app/src/components/admin/AdminUsersPage.tsx
  packages/hermes-app/src/routeTree.gen.ts
Due: frontend, Frontend (hermes-app)

chore: fix formatting
  packages/hermes-api/app/api/v1/endpoints/auth.py
Due: backend, Backend (hermes-api)

refactor: clean up volume import defaults
  docker-compose.dev.yml
  docker-compose.example.yml
  docker-compose.test-separate-hosts.yml
  docker-compose.yml
Due: none

docs: update deployment dir doc
  docs/DEPLOYMENT.md
Due: none

ci: better dev script
  package.json
Due: none
