Repository TechSquidTV/Hermes: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%

# Ignore external UI component libraries
ignore:
  - "packages/hermes-app/src/components/ui/**"

# Monorepo configuration
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  frontend:
    paths:
      - packages/hermes-app/src/
    carryforward: true
  backend:
    paths:
      - packages/hermes-api/app/
    carryforward: true

# Component configuration for monorepo
component_management:
  individual_components:
    - component_id: hermes-app
      name: Frontend (hermes-app)
      paths:
        - packages/hermes-app/**
      flag_regexes:
        - frontend
    - component_id: hermes-api
      name: Backend (hermes-api)
      paths:
        - packages/hermes-api/**
      flag_regexes:
        - backend

comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false
  show_carryforward_flags: true

fix: create data dir
  packages/hermes-api/app/main.py
Due: backend, Backend (hermes-api)

feat(auth): enhance user information retrieval with detailed logging
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/models/base.py
Due: backend, Backend (hermes-api)

feat(animate-ui): filter out non-DOM props in Slot component
  packages/hermes-app/src/components/animate-ui/primitives/animate/slot.tsx
Due: frontend, Frontend (hermes-app)

refactor(auth): improve logging and remove unused JSON serialization alias
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/models/base.py
Due: backend, Backend (hermes-api)

chore: fix import ordering in migration files
  packages/hermes-api/alembic/versions/96e3543c1899_initial_migration.py
  packages/hermes-api/alembic/versions/c4584c156bdd_add_user_is_admin_field.py
Due: Backend (hermes-api)

feat: add system settings infrastructure
  packages/hermes-api/alembic/versions/d5e92b7f3a1c_add_system_settings.py
  packages/hermes-api/app/db/models.py
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/app/services/system_settings_service.py
Due: backend, Backend (hermes-api)

feat: add admin endpoints for system management
  packages/hermes-api/app/api/v1/endpoints/admin.py
  packages/hermes-api/app/api/v1/router.py
  packages/hermes-api/tests/conftest.py
Due: backend, Backend (hermes-api)

feat: integrate system settings into auth and config
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/api/v1/endpoints/config.py
  packages/hermes-api/app/main.py
Due: backend, Backend (hermes-api)

test: add tests for system settings and admin endpoints
  packages/hermes-api/tests/test_api/test_admin_endpoints.py
  packages/hermes-api/tests/test_services/test_system_settings_service.py
Due: Backend (hermes-api)

feat: add admin settings UI for system configuration
  packages/hermes-app/src/components/admin/AdminSettingsPage.tsx
  packages/hermes-app/src/components/layout/AppSidebar.tsx
  packages/hermes-app/src/hooks/useSystemSettings.ts
  packages/hermes-app/src/routes/admin.settings.tsx
Due: frontend, Frontend (hermes-app)

refactor: update frontend to use camelCase API types
  packages/hermes-app/src/components/download/DownloadProgressTracker.test.tsx
  packages/hermes-app/src/components/download/VideoPreview.tsx
  packages/hermes-app/src/components/forms/UrlInput.tsx
  packages/hermes-app/src/components/forms/__tests__/UrlInput.test.tsx
  packages/hermes-app/src/components/queue/QueueCard.tsx
  packages/hermes-app/src/components/queue/QueueCharts.tsx
  packages/hermes-app/src/components/queue/QueueList.tsx
  packages/hermes-app/src/components/queue/QueueStats.tsx
  packages/hermes-app/src/components/queue/QueueTabContent.tsx
  packages/hermes-app/src/components/queue/__tests__/QueueCard.test.tsx
  packages/hermes-app/src/components/settings/ApiKeySettings.tsx
  packages/hermes-app/src/components/settings/__tests__/ApiKeySettings.test.tsx
  packages/hermes-app/src/hooks/__tests__/useFilters.test.ts
  packages/hermes-app/src/hooks/__tests__/useStorage.test.ts
  packages/hermes-app/src/hooks/useAnalytics.ts
  packages/hermes-app/src/hooks/useConfiguration.ts
  packages/hermes-app/src/hooks/useDownloadActions.ts
  packages/hermes-app/src/hooks/useDownloadProgressSSE.ts
  packages/hermes-app/src/hooks/useFilters.ts
  packages/hermes-app/src/hooks/useStorage.ts
  packages/hermes-app/src/hooks/useUrlProcessing.ts
  packages/hermes-app/src/routeTree.gen.ts
  packages/hermes-app/src/routes/auth.signup.tsx
  packages/hermes-app/src/routes/index.tsx
  packages/hermes-app/src/services/api/client.ts
  packages/hermes-app/src/types/api.generated.ts
Due: frontend, Frontend (hermes-app)

chore: add route generation script and update dependencies
  .gitignore
  package.json
  packages/hermes-app/package.json
  pnpm-lock.yaml
Due: Frontend (hermes-app)

chore: update yt-dlp dependency to version 2025.11.12 and add new greenlet wheels
  packages/hermes-api/pyproject.toml
  packages/hermes-api/uv.lock
Due: Backend (hermes-api)

Clean up compose topologies
  docker-compose.dev.yml
  docker-compose.test-separate-hosts.yml
  docs/PROXY_DEPLOYMENT.md
  packages/hermes-app/vite.config.ts
Due: Frontend (hermes-app)

Update dependencies and runtimes
  docker-compose.dev.yml
  docker-compose.example.yml
  docker-compose.test-separate-hosts.yml
  docker-compose.yml
  package.json
  packages/hermes-api/Dockerfile
  packages/hermes-api/tests/test_api/test_auth.py
  packages/hermes-api/tests/test_api/test_events.py
  packages/hermes-api/uv.lock
  packages/hermes-app/Dockerfile
  packages/hermes-app/Dockerfile.dev
  packages/hermes-app/eslint.config.js
  packages/hermes-app/package.json
  packages/hermes-app/src/components/admin/AdminUsersPage.tsx
  packages/hermes-app/src/components/animate-ui/primitives/animate/tooltip.tsx
  packages/hermes-app/src/components/animate-ui/primitives/effects/highlight.tsx
  packages/hermes-app/src/components/download/VideoPreview.tsx
  packages/hermes-app/src/components/queue/QueueCharts.tsx
  packages/hermes-app/src/components/version-status.tsx
  packages/hermes-app/src/hooks/use-controlled-state.tsx
  packages/hermes-app/src/hooks/use-mobile.ts
  packages/hermes-app/tsconfig.json
  packages/hermes-app/vite.config.ts
  pnpm-lock.yaml
Due: frontend, Frontend (hermes-app), Backend (hermes-api)

Fix separate-hosts app volume override
  docker-compose.test-separate-hosts.yml
Due: none

Fix separate-hosts env file inheritance
  docker-compose.test-separate-hosts.yml
Due: none

Hide signup link when signup is disabled
  packages/hermes-app/src/routes/auth.login.tsx
  packages/hermes-app/src/services/config.ts
Due: frontend, Frontend (hermes-app)

Fix API schema type generation
  packages/hermes-api/app/api/v1/endpoints/health.py
  packages/hermes-api/app/api/v1/endpoints/timeline.py
  packages/hermes-api/app/models/pydantic/history.py
  packages/hermes-api/app/models/pydantic/response.py
  packages/hermes-api/scripts/export_openapi.py
  packages/hermes-api/tests/test_api/test_health.py
  packages/hermes-api/tests/test_api/test_openapi_schema.py
  packages/hermes-api/tests/test_api/test_timeline.py
  packages/hermes-app/package.json
  packages/hermes-app/scripts/generate-openapi-types.mjs
  packages/hermes-app/src/components/queue/QueueCharts.tsx
  packages/hermes-app/src/services/api/client.ts
  packages/hermes-app/src/types/api.generated.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

Document standard API error responses
  packages/hermes-api/app/main.py
  packages/hermes-api/app/models/pydantic/response.py
  packages/hermes-api/tests/test_api/test_error_responses.py
  packages/hermes-api/tests/test_api/test_openapi_schema.py
  packages/hermes-app/src/types/api.generated.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

Fix frontend auth token refresh
  packages/hermes-app/src/contexts/AuthContext.tsx
  packages/hermes-app/src/services/__tests__/apiClient.test.ts
  packages/hermes-app/src/services/api/client.ts
  packages/hermes-app/src/utils/__tests__/tokenStorage.test.ts
  packages/hermes-app/src/utils/tokenStorage.ts
Due: frontend, Frontend (hermes-app)

Remove frontend token logging
  packages/hermes-app/src/services/auth.ts
  packages/hermes-app/src/utils/tokenStorage.ts
Due: frontend, Frontend (hermes-app)

Renew frontend SSE tokens
  packages/hermes-app/src/hooks/useDownloadProgressSSE.ts
  packages/hermes-app/src/hooks/useQueueUpdatesSSE.ts
  packages/hermes-app/src/hooks/useSSEToken.test.ts
  packages/hermes-app/src/hooks/useSSEToken.ts
  packages/hermes-app/src/hooks/useStatsSSE.ts
Due: frontend, Frontend (hermes-app)

Track batch download tasks
  packages/hermes-app/src/components/download/VideoPreview.tsx
Due: frontend, Frontend (hermes-app)

Wire queue cancel actions
  packages/hermes-app/src/components/queue/BulkOperations.tsx
  packages/hermes-app/src/components/queue/QueueCard.tsx
  packages/hermes-app/src/components/queue/QueueTabContent.tsx
  packages/hermes-app/src/components/queue/__tests__/QueueCard.test.tsx
  packages/hermes-app/src/hooks/useBulkOperations.ts
Due: frontend, Frontend (hermes-app)

Persist refreshed API client tokens
  packages/hermes-app/src/services/__tests__/apiClient.test.ts
  packages/hermes-app/src/services/api/client.ts
Due: frontend, Frontend (hermes-app)

Fix UI auth rendering
  packages/hermes-app/src/components/auth/ProtectedRoute.tsx
  packages/hermes-app/src/components/forms/UrlInput.tsx
  packages/hermes-app/src/routes/__root.tsx
  packages/hermes-app/vite.config.ts
Due: frontend, Frontend (hermes-app)

Fix frontend CI tests
  packages/hermes-app/src/components/forms/__tests__/UrlInput.test.tsx
  packages/hermes-app/src/utils/__tests__/tokenStorage.test.ts
Due: frontend, Frontend (hermes-app)

Unify auth principal resolution
  packages/hermes-api/app/api/dependencies.py
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/app/api/v1/endpoints/events.py
  packages/hermes-api/app/core/security.py
  packages/hermes-api/tests/conftest.py
  packages/hermes-api/tests/test_api/test_auth.py
  packages/hermes-api/tests/test_api/test_events.py
  packages/hermes-app/src/components/auth/ProtectedRoute.tsx
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

Fix first-run signup and completed downloads
  docker-compose.dev.yml
  packages/hermes-api/app/api/v1/endpoints/config.py
  packages/hermes-api/tests/test_api/test_signup_restrictions.py
  packages/hermes-app/src/hooks/useDownloadProgressSSE.test.tsx
  packages/hermes-app/src/hooks/useDownloadProgressSSE.ts
  packages/hermes-app/src/routes/index.tsx
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

Enforce API key permissions
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/app/api/v1/endpoints/cleanup.py
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/app/api/v1/endpoints/events.py
  packages/hermes-api/app/api/v1/endpoints/files.py
  packages/hermes-api/app/api/v1/endpoints/history.py
  packages/hermes-api/app/api/v1/endpoints/queue.py
  packages/hermes-api/app/api/v1/endpoints/stats.py
  packages/hermes-api/app/api/v1/endpoints/storage.py
  packages/hermes-api/app/api/v1/endpoints/timeline.py
  packages/hermes-api/app/core/security.py
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/tests/test_api/test_auth.py
  packages/hermes-api/tests/test_integration/test_api_key_flow.py
Due: backend, Backend (hermes-api)

cleanup unused frontend code
  packages/hermes-app/knip.json
  packages/hermes-app/package.json
  packages/hermes-app/src/components/layout/AppSidebar.tsx
  packages/hermes-app/src/components/loading/DashboardSkeleton.tsx
  packages/hermes-app/src/components/queue/QueueProgress.tsx
  packages/hermes-app/src/components/search-form.tsx
  packages/hermes-app/src/components/ui/collapsible.tsx
  packages/hermes-app/src/components/ui/link.tsx
  packages/hermes-app/src/components/ui/search-input.tsx
  packages/hermes-app/src/components/ui/sheet.tsx
  packages/hermes-app/src/components/ui/sidebar.tsx
  packages/hermes-app/src/components/ui/url-input.tsx
  packages/hermes-app/src/counter.ts
  packages/hermes-app/src/hooks/useAnalytics.ts
  packages/hermes-app/src/hooks/useConfiguration.ts
  packages/hermes-app/src/hooks/useDialog.ts
  packages/hermes-app/src/hooks/useFilters.ts
  packages/hermes-app/src/hooks/useFormatSelection.ts
  packages/hermes-app/src/hooks/useNotifications.ts
  packages/hermes-app/src/hooks/useSettingsNavigation.ts
  packages/hermes-app/src/hooks/useStorage.ts
  packages/hermes-app/src/hooks/useUrlProcessing.ts
  packages/hermes-app/src/hooks/useVideoInfo.ts
  packages/hermes-app/src/lib/config.ts
  packages/hermes-app/src/lib/taskTracking.ts
  packages/hermes-app/src/lib/utils.ts
  packages/hermes-app/src/main.ts
  packages/hermes-app/src/services/admin.ts
  packages/hermes-app/src/services/config.ts
  packages/hermes-app/src/themes/index.ts
  packages/hermes-app/src/types/github.ts
  packages/hermes-app/src/typescript.svg
  pnpm-lock.yaml
Due: frontend, Frontend (hermes-app)

ci: publish release images from releases
  .github/workflows/publish-release-images.yml
Due: none

Add yt-dlp EJS support with Node runtime
  packages/hermes-api/Dockerfile
  packages/hermes-api/README.md
  packages/hermes-api/app/services/yt_dlp_service.py
  packages/hermes-api/pyproject.toml
  packages/hermes-api/tests/test_services/test_yt_dlp_service.py
  packages/hermes-api/uv.lock
Due: backend, Backend (hermes-api)

Address yt-dlp EJS review feedback
  packages/hermes-api/Dockerfile
  packages/hermes-api/README.md
  packages/hermes-api/app/services/yt_dlp_service.py
  packages/hermes-api/tests/test_services/test_yt_dlp_service.py
Due: backend, Backend (hermes-api)

Configure Renovate for yt-dlp updates
  renovate.json
Due: none

fix CI build version display
  .github/workflows/develop.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
  packages/hermes-api/Dockerfile
  packages/hermes-api/app/core/config.py
  packages/hermes-api/tests/test_api/test_health.py
  packages/hermes-app/Dockerfile
  packages/hermes-app/src/components/version-status.tsx
  packages/hermes-app/src/lib/__tests__/version.test.ts
  packages/hermes-app/src/lib/version.ts
  packages/hermes-app/src/services/github.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

Simplify frontend release serving
  Caddyfile
  README.md
  docker-compose.example.yml
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/PROXY_DEPLOYMENT.md
  docs/RELEASE_PROCESS.md
  packages/hermes-app/nginx.conf
Due: Frontend (hermes-app)

test: cover critical download paths
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/tests/test_api/test_downloads.py
  packages/hermes-api/tests/test_services/test_yt_dlp_service.py
  packages/hermes-api/tests/test_tasks/test_download_tasks.py
  packages/hermes-app/src/hooks/__tests__/useBulkOperations.test.tsx
  packages/hermes-app/tsconfig.test.json
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

refactor: centralize queue invalidation
  packages/hermes-app/src/components/queue/QueueCard.tsx
  packages/hermes-app/src/hooks/useBulkOperations.ts
  packages/hermes-app/src/hooks/useDownloadActions.ts
  packages/hermes-app/src/hooks/useQueueUpdatesSSE.ts
  packages/hermes-app/src/lib/__tests__/queryClient.test.ts
  packages/hermes-app/src/lib/queryClient.ts
Due: frontend, Frontend (hermes-app)
