Repository TechSquidTV/Hermes: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%

# Ignore external UI component libraries
ignore:
  - "packages/hermes-app/src/components/ui/**"

# Monorepo configuration
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  frontend:
    paths:
      - packages/hermes-app/src/
    carryforward: true
  backend:
    paths:
      - packages/hermes-api/app/
    carryforward: true

# Component configuration for monorepo
component_management:
  individual_components:
    - component_id: hermes-app
      name: Frontend (hermes-app)
      paths:
        - packages/hermes-app/**
      flag_regexes:
        - frontend
    - component_id: hermes-api
      name: Backend (hermes-api)
      paths:
        - packages/hermes-api/**
      flag_regexes:
        - backend

comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false
  show_carryforward_flags: true

refactor: share download progress payloads
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/app/utils/download_progress.py
  packages/hermes-api/tests/test_utils.py
Due: backend, Backend (hermes-api)

refactor: share api query serialization
  packages/hermes-app/src/services/__tests__/apiClient.test.ts
  packages/hermes-app/src/services/api/client.ts
Due: frontend, Frontend (hermes-app)

refactor: share queue data mapping
  packages/hermes-app/src/components/queue/QueueList.tsx
  packages/hermes-app/src/components/queue/QueueTabContent.tsx
  packages/hermes-app/src/hooks/useBulkOperations.ts
  packages/hermes-app/src/hooks/useQueueData.ts
  packages/hermes-app/src/lib/__tests__/queueData.test.ts
  packages/hermes-app/src/lib/queueData.ts
Due: frontend, Frontend (hermes-app)

refactor: share backend constants
  packages/hermes-api/app/api/v1/endpoints/stats.py
  packages/hermes-api/app/api/v1/endpoints/timeline.py
  packages/hermes-api/app/services/yt_dlp_service.py
  packages/hermes-api/app/tasks/cleanup_tasks.py
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/app/utils/media.py
  packages/hermes-api/app/utils/time_periods.py
Due: backend, Backend (hermes-api)

fix: key queue data by pagination
  packages/hermes-app/src/hooks/__tests__/useQueueData.test.ts
  packages/hermes-app/src/hooks/useQueueData.ts
Due: frontend, Frontend (hermes-app)

fix: align queue cache invalidation
  packages/hermes-app/src/components/download/VideoPreview.tsx
  packages/hermes-app/src/hooks/__tests__/useBulkOperations.test.tsx
  packages/hermes-app/src/hooks/__tests__/useDownloadActions.test.tsx
  packages/hermes-app/src/hooks/__tests__/useQueueData.test.ts
  packages/hermes-app/src/hooks/useQueueData.ts
  packages/hermes-app/src/hooks/useQueueUpdatesSSE.test.tsx
  packages/hermes-app/src/lib/__tests__/queryClient.test.ts
  packages/hermes-app/src/lib/queryClient.ts
Due: frontend, Frontend (hermes-app)

fix: preserve zero progress message
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/tests/test_tasks/test_download_tasks.py
Due: backend, Backend (hermes-api)

chore: remove unused bulk retry placeholder
  packages/hermes-app/src/hooks/useBulkOperations.ts
Due: frontend, Frontend (hermes-app)

Fix queue bulk data ownership
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/app/utils/download_progress.py
  packages/hermes-api/tests/test_utils.py
  packages/hermes-app/src/components/queue/BulkOperations.tsx
  packages/hermes-app/src/components/queue/QueueList.tsx
  packages/hermes-app/src/components/queue/QueueTabContent.tsx
  packages/hermes-app/src/lib/__tests__/queueData.test.ts
  packages/hermes-app/src/lib/queueData.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

ci: harden release publishing
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
  docs/DEPLOYMENT.md
  docs/RELEASE_PROCESS.md
  packages/hermes-app/src/services/github.ts
Due: frontend, Frontend (hermes-app)

fix: recover version status and worker queues
  docs/DEPLOYMENT.md
  docs/PROXY_DEPLOYMENT.md
  packages/hermes-api/README.md
  packages/hermes-api/app/tasks/celery_app.py
  packages/hermes-api/tests/test_tasks/test_celery_app.py
  packages/hermes-app/src/components/version-status.tsx
  packages/hermes-app/src/services/__tests__/apiClient.test.ts
  packages/hermes-app/src/services/api/client.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

fix: stabilize completed download state
  docker-compose.example.yml
  docker-compose.yml
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/tests/test_api/test_downloads.py
  packages/hermes-app/Dockerfile
Due: backend, Frontend (hermes-app), Backend (hermes-api)

ci: update actions for node 24
  .github/workflows/develop.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
Due: none

security(api): confine file endpoints to managed downloads
  packages/hermes-api/app/api/v1/endpoints/files.py
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/tests/test_api/test_files.py
Due: backend, Backend (hermes-api)

fix(api): queue batch downloads through celery
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/tests/test_api/test_downloads.py
Due: backend, Backend (hermes-api)

fix(api): accept camelcase refresh token payloads
  packages/hermes-api/app/api/v1/endpoints/auth.py
  packages/hermes-api/tests/test_api/test_auth.py
Due: backend, Backend (hermes-api)

fix(api): forward download request options
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/tests/test_api/test_downloads.py
  packages/hermes-api/tests/test_tasks/test_download_tasks.py
Due: backend, Backend (hermes-api)

fix(api): compute history aggregates across all matches
  packages/hermes-api/app/api/v1/endpoints/history.py
  packages/hermes-api/tests/test_api/test_history.py
Due: backend, Backend (hermes-api)

test(api): cover managed download permission route
  packages/hermes-api/tests/test_api/test_auth.py
  packages/hermes-api/uv.lock
Due: Backend (hermes-api)

test(api): cover history aggregate fallbacks
  packages/hermes-api/tests/test_api/test_history.py
  packages/hermes-api/uv.lock
Due: Backend (hermes-api)

chore!: refresh dependencies and align build tooling
  .dockerignore
  .github/workflows/develop.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
  README.md
  docker-compose.dev.yml
  package.json
  packages/hermes-api/Dockerfile
  packages/hermes-api/pyproject.toml
  packages/hermes-api/uv.lock
  packages/hermes-app/Dockerfile
  packages/hermes-app/Dockerfile.dev
  packages/hermes-app/README.md
  packages/hermes-app/package.json
  packages/hermes-app/src/components/forms/UrlInput.tsx
  packages/hermes-app/src/components/settings/ApiKeySettings.tsx
  packages/hermes-app/src/components/settings/__tests__/ApiKeySettings.test.tsx
  packages/hermes-app/src/routeTree.gen.ts
  packages/hermes-app/src/types/api.generated.ts
  packages/hermes-app/vite.config.ts
  packages/hermes-app/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend, Frontend (hermes-app), Backend (hermes-api)

fix: resolve runtime and CI issues found in review
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  README.md
  docs/MAINTENANCE_REVIEW.md
  package.json
  packages/hermes-api/alembic/env.py
  packages/hermes-api/app/api/v1/endpoints/events.py
  packages/hermes-api/app/api/v1/endpoints/files.py
  packages/hermes-api/app/db/base.py
  packages/hermes-api/app/db/models.py
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/app/models/sse_token.py
  packages/hermes-api/tests/conftest.py
  packages/hermes-api/tests/test_api/test_events.py
  packages/hermes-api/tests/test_api/test_files.py
  packages/hermes-api/tests/test_api/test_signup_restrictions.py
  packages/hermes-app/README.md
  packages/hermes-app/src/components/settings/ApiKeySettings.tsx
  packages/hermes-app/src/components/settings/__tests__/ApiKeySettings.test.tsx
  packages/hermes-app/src/hooks/__tests__/useApiKeys.test.ts
  packages/hermes-app/src/hooks/__tests__/useSSE.test.ts
  packages/hermes-app/src/hooks/useSSE.ts
  packages/hermes-app/src/types/api.generated.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

fix(ci): pin setup-uv to its published release
  .github/workflows/develop.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
Due: none

chore!: update dependencies and fix runtime issues (#103)
  .dockerignore
  .github/workflows/develop.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
  README.md
  docker-compose.dev.yml
  docs/MAINTENANCE_REVIEW.md
  package.json
  packages/hermes-api/Dockerfile
  packages/hermes-api/alembic/env.py
  packages/hermes-api/app/api/v1/endpoints/events.py
  packages/hermes-api/app/api/v1/endpoints/files.py
  packages/hermes-api/app/db/base.py
  packages/hermes-api/app/db/models.py
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/app/models/sse_token.py
  packages/hermes-api/pyproject.toml
  packages/hermes-api/tests/conftest.py
  packages/hermes-api/tests/test_api/test_events.py
  packages/hermes-api/tests/test_api/test_files.py
  packages/hermes-api/tests/test_api/test_signup_restrictions.py
  packages/hermes-api/uv.lock
  packages/hermes-app/Dockerfile
  packages/hermes-app/Dockerfile.dev
  packages/hermes-app/README.md
  packages/hermes-app/package.json
  packages/hermes-app/src/components/forms/UrlInput.tsx
  packages/hermes-app/src/components/settings/ApiKeySettings.tsx
  packages/hermes-app/src/components/settings/__tests__/ApiKeySettings.test.tsx
  packages/hermes-app/src/hooks/__tests__/useApiKeys.test.ts
  packages/hermes-app/src/hooks/__tests__/useSSE.test.ts
  packages/hermes-app/src/hooks/useSSE.ts
  packages/hermes-app/src/routeTree.gen.ts
  packages/hermes-app/src/types/api.generated.ts
  packages/hermes-app/vite.config.ts
  packages/hermes-app/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

fix(downloads)!: support adaptive streams and preserve output paths
  packages/hermes-api/README.md
  packages/hermes-api/app/api/v1/endpoints/admin.py
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/app/api/v1/endpoints/formats.py
  packages/hermes-api/app/db/models.py
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/app/models/pydantic/download.py
  packages/hermes-api/app/models/pydantic/playlist.py
  packages/hermes-api/app/services/yt_dlp_service.py
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/app/utils/media.py
  packages/hermes-api/pyproject.toml
  packages/hermes-api/tests/test_api/test_downloads.py
  packages/hermes-api/tests/test_models/test_playlist.py
  packages/hermes-api/tests/test_services/test_yt_dlp_service.py
  packages/hermes-api/tests/test_tasks/test_download_tasks.py
  packages/hermes-api/uv.lock
  packages/hermes-app/src/components/download/VideoPreview.tsx
  packages/hermes-app/src/components/download/__tests__/VideoPreview.test.tsx
  packages/hermes-app/src/types/api.generated.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

ci(deps): consolidate maintenance with Dependabot
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/develop.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
  docs/CONTRIBUTING.md
  docs/DEPENDENCY_MAINTENANCE.md
  package.json
  packages/hermes-api/Dockerfile
  renovate.json
Due: Backend (hermes-api)

fix!: restore downloads and dependency maintenance (#104)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/develop.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
  docs/CONTRIBUTING.md
  docs/DEPENDENCY_MAINTENANCE.md
  package.json
  packages/hermes-api/Dockerfile
  packages/hermes-api/README.md
  packages/hermes-api/app/api/v1/endpoints/admin.py
  packages/hermes-api/app/api/v1/endpoints/downloads.py
  packages/hermes-api/app/api/v1/endpoints/formats.py
  packages/hermes-api/app/db/models.py
  packages/hermes-api/app/db/repositories.py
  packages/hermes-api/app/models/pydantic/download.py
  packages/hermes-api/app/models/pydantic/playlist.py
  packages/hermes-api/app/services/yt_dlp_service.py
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/app/utils/media.py
  packages/hermes-api/pyproject.toml
  packages/hermes-api/tests/test_api/test_downloads.py
  packages/hermes-api/tests/test_models/test_playlist.py
  packages/hermes-api/tests/test_services/test_yt_dlp_service.py
  packages/hermes-api/tests/test_tasks/test_download_tasks.py
  packages/hermes-api/uv.lock
  packages/hermes-app/src/components/download/VideoPreview.tsx
  packages/hermes-app/src/components/download/__tests__/VideoPreview.test.tsx
  packages/hermes-app/src/types/api.generated.ts
  renovate.json
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

fix(build): install managed Corepack for Node 26
  .github/workflows/develop.yml
  .github/workflows/pr-checks.yml
  .github/workflows/publish-release-images.yml
  .github/workflows/release.yml
  README.md
  docs/RELEASE_PROCESS.md
  package.json
  packages/hermes-api/README.md
  packages/hermes-app/Dockerfile
  packages/hermes-app/Dockerfile.dev
  packages/hermes-app/README.md
  pnpm-lock.yaml
Due: Frontend (hermes-app), Backend (hermes-api)

fix(downloads)!: register and repair completed files
  .env.example
  docs/CONFIGURATION.md
  packages/hermes-api/.env.example
  packages/hermes-api/app/api/v1/endpoints/files.py
  packages/hermes-api/app/main.py
  packages/hermes-api/app/services/download_files.py
  packages/hermes-api/app/tasks/download_tasks.py
  packages/hermes-api/app/utils/files.py
  packages/hermes-api/tests/test_integration/test_download_flow.py
  packages/hermes-app/src/hooks/__tests__/useDownloadActions.test.tsx
  packages/hermes-app/src/hooks/useDownloadActions.ts
Due: frontend, backend, Frontend (hermes-app), Backend (hermes-api)

fix(deps): retain jsdom version with working dropdown tests
  packages/hermes-app/package.json
  pnpm-lock.yaml
Due: Frontend (hermes-app)

ci(deps): migrate dependency updates to renovate
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/pr-checks.yml
  docs/CONTRIBUTING.md
  docs/DEPENDENCY_MAINTENANCE.md
  packages/hermes-api/pyproject.toml
  packages/hermes-api/uv.lock
  packages/hermes-app/Dockerfile
  packages/hermes-app/Dockerfile.dev
Due: Frontend (hermes-app), Backend (hermes-api)

fix(ci): allow checkout in renovate validation container
  .github/workflows/pr-checks.yml
Due: none

fix(deps): preserve yt-dlp EJS compatibility pin
  .github/renovate.json
  docs/DEPENDENCY_MAINTENANCE.md
  packages/hermes-api/pyproject.toml
  packages/hermes-api/uv.lock
Due: Backend (hermes-api)

ci(deps): migrate dependency updates to renovate (#143)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/pr-checks.yml
  docs/CONTRIBUTING.md
  docs/DEPENDENCY_MAINTENANCE.md
  packages/hermes-app/Dockerfile
  packages/hermes-app/Dockerfile.dev
Due: Frontend (hermes-app)
